<div id="bing-map" style="position:absolute;width:90%; height:200px;margin-right:20px;"></div>

<script type="text/javascript" charset="utf-8">
var map = null;

function GetMap() {
    map = new VEMap('bing-map');
    map.LoadMap();
    map.SetZoomLevel(5);
}

GetMap();
</script>
