<strong><%= link_to contact.name, [contact.organisation, contact] %></strong>
<% unless contact.department.blank? %>
	<span class="text-muted"> - <%= contact.department %></span> 
<% end %>
<% unless contact.position.blank? %>
	<span class="text-muted"> - <%= contact.position %></span> 
<% end %>
<br/>
<%= contact.phone_work %>
<%= contact.phone_mobile %>
