<div class="panel organisation-contacts">
  <div class="panel-heading">Contacts</div>
	<ul class="list-group">
		<% if params[:show] == 'all' or (count = @organisation.current_contacts.count) <= 5 %>
			<% @organisation.current_contacts.order( [:firstname, :lastname] ).each do |contact| %>
				<li class="list-group-item organisation-contact">
					<%= render partial: 'contact', object: contact %>
				</li>
			<% end %>
		<% end %>

		<% if count > 5  %>
			<li class="list-group-item">
				<%= @organisation.current_contacts.order( [:firstname, :lastname] ).map{|c| 
					link_to("#{c.firstname} #{c.lastname}", c ) }.join(', ').html_safe %>				
			</li>
		<% end %>
		
		<li class="list-group-item show-organisation-contacts">		
			<%= link_to "New Contact", new_organisation_contact_path( @organisation ) %>
		
			<%= content_tag :span do %>
				| <%= link_to "Show all Contacts", organisation_contacts_path( @organisation ) %>
			<% end if count > 5 %>
		</li>			
		
	</ul>
</div>				

