<%= semantic_form_for @organisation, :html => { :multipart => true } do |f| %>

	<div class="row">
		<div class="col-lg-12">
			<%= f.actions class: 'pull-right' do %>
				<%= f.action :submit %>
				<%= f.action :cancel, url: polymorphic_path( f.object ), label: "Cancel" %>
			<% end %>
		</div>	
	</div>

	<div class="row">

		<div class="col-lg-6">
			<%= f.inputs do %>				
				<li class="string input optional stringish" id="organisation_active_input">
					<label class=" label" for="organisation_active">Active</label>
					<%= f.check_box :active %>
				</li>
				<%= f.input :name %>
				<%= f.input :official_name %>
				<%= f.input :phone %>
				<%= f.input :fax %>
				<%= f.input :email %>
				<%= f.input :website %>
				<%= f.input :facebook %>
		
				<%= f.input :tag_list, input_html: {class: 'tags' } %>
			<% end %>
				
			<hr/>
			
			<%= f.inputs do %>	
				<%= f.input :description, input_html: { rows: 5 } %>
			<% end %>
				
		</div>

		<div class="col-lg-6" style="padding-top:40px;">
			<%= f.inputs do %>

				<%= f.input :address1 %>
				<%= f.input :address2 %>
				<%= f.input :zipcode %>
				<%= f.input :city %>
				<%= f.input :country, as: :select, collection: country_select_options %>

				<hr/>
				
				<%= f.input :org_type %>
				<%= f.input :industry %>			
				
				<hr/>
				<li class="formtastic-info">
					<%= image_tag @organisation.image.url(:thumb) %>
				</li>
				<%= f.input :image %>
				<li class="input optional">
					<label class="label">Delete Image and start guesses again</label>
					<%= f.check_box(:delete_image) %>
				</li>
				
			<% end %>
			
		</div>

	</div>
		
<% end %>
