<li class="list-group-item">
	<p>
		<%= link_to opportunity.name, [opportunity.organisation, opportunity] %>
	</p>
	<p>
		<%= content_tag :span, opportunity.opportunity_status.name, 
					class: "label", style: "background-color: ##{opportunity.opportunity_status.color}" %>
		<%= content_tag :span, opportunity.opportunity_typ.name, 
					class: "label", style: "background-color: ##{opportunity.opportunity_typ.color}" %>
		<%= content_tag :span, opportunity.lead_source.name, 
					class: "label", style: "background-color: ##{opportunity.lead_source.color}" %>
	</p>
	<p>
		<%= render partial: 'opportunities/expected', object: opportunity.expected %>
	</p>
</li>