<div class="panel">
  <div class="panel-heading">Opportunities</div>
	<ul class="list-group">
		<% count = @organisation.opportunities.open.count %>
		<%= render partial: 'opportunity', collection: @organisation.opportunities.open.limit(3) %>
		<%= content_tag :li, class: 'list-group-item' do %>
			<%= content_tag :span, count, class: 'badge' %>
		  <%= link_to "All opportunities", organisation_opportunities_path( @organisation ) %>
		<% end if count > 3 %>
		<%= content_tag :li, class: 'list-group-item' do %>
			<%= link_to "New", new_organisation_opportunity_path(@organisation) %>
		<% end %>
	</ul>
</div>
