
<div class="panel <%= 'ex-organisation' if shade %>">
	<div class="panel-heading">		
		<strong><%= link_to organisation.name, organisation %></strong>
		<%= content_tag :span, "ex organisation", class: "label label-warning" if shade %>
	</div>
	<div class="contact-logo text-center">
		<%= render partial: 'image_guesses/image', locals: { holder: organisation, guess: true } %>
	</div>
  <ul class="list-group">
		<%= content_tag :li, class: 'list-group-item' do %>
			<%= content_tag :span, organisation.org_type.name, class: "label label-default" if organisation.org_type %>
			<%= content_tag :span, organisation.industry.name, class: "label label-default" if organisation.industry %>	
			<% organisation.tags.each do |tag| %>
				<span class="label label-info"><%= tag %></span>
			<% end %>			
		<% end if organisation.org_type  or organisation.industry or not organisation.tags.empty? %>
		
		<%= content_tag :li, class: 'list-group-item' do %>
			<strong><%= organisation.official_name ? organisation.official_name : organisation.name %></strong>
			<%#= render partial: 'shared/address', object: organisation %>
		<% end if false %>
		<%= content_tag :li, class: 'list-group-item' do %>
			<%= organisation.description %>
		<% end unless organisation.description.blank? %>
	</ul>
</div>
