<div class="content-actions">
	<%= link_to "New", new_organisation_path, class: "btn btn-small btn-lg" %>
</div>

<div class="page-header">	
	<h1>Organisations</h1>
</div>

<%= form_tag organisations_path, class: 'search-form', method: 'get' do %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>City</th>
				<th>Type</th>
				<th>Website</th>
			</tr>
			<tr>
				<th><%= text_field_tag :id, params[:id] %></th>
				<th><%= text_field_tag :name, params[:name] %></th>
				<th><%= text_field_tag :city, params[:city] %></th>
				<th><%= select_tag :org_type, 
									options_for_select( OrgType.all( order: :name ).map{|ot| [ot.name, ot.id]}, 
										params[:org_type] ), 
									include_blank: true %></th>
				<th><%= text_field_tag :website, params[:website] %></th>
				<th><%= submit_tag "Filter" %></th>				
			</tr>
		</thead>
		<tbody>
			<% @organisations.each do |organisation| %>
			<tr>
				<td>
					<%= link_to organisation.id, organisation %>
				</td>
				<td>
					<%= link_to organisation.name, organisation %>
				</td>
				<td>
					<%= organisation.city %>
				</td>
				<td>
					<%= organisation.org_type.name if organisation.org_type %>
				</td>
				<td>
					<%= organisation.website %>
				</td>
				<td>					
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6">
					<%= paginate @organisations %>
				</td>
			</tr>
		</tfoot>
	</table>
	
<% end %>	
	