<div class="content-actions">
	<%= link_to "Edit", edit_organisation_path(@organisation), class: "btn btn-small btn-lg" %>
</div>

<%= content_tag :h3, @organisation.org_type.name, class: "text-muted" if @organisation.org_type %>
<h1><%= @organisation.name %></h1>
<hr/>

<div class="row">
	
	<div class="col-lg-4">
		<div class="panel">
			<div class="panel-heading">
				<strong><%= @organisation.official_name ? @organisation.official_name : @organisation.name %></strong>
			</div>
			<p>				
				<%= render partial: 'shared/address', object: @organisation %>
			</p>
		  <ul class="list-group">
				
				<%= content_tag :li, class: "list-group-item" do %>
					<label>Phone:</label>
					<%= @organisation.phone %>
				<% end unless @organisation.phone.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Fax:</label>
					<%= @organisation.fax %>
				<% end unless @organisation.fax.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Email:</label>
					<%= @organisation.email %>
				<% end unless @organisation.email.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Website:</label>
					<%= link_to( @organisation.website, @organisation.website, target: '_blank' ) %>
				<% end unless @organisation.website.blank? %>

		  </ul>
		</div>				
	</div>
	
	<div class="col-lg-5" id="organisation-contacts">
		<%= render partial: 'contacts' %>
	</div>
	
	<div class="col-lg-3">
		<div class="panel">
			<div class="organisation-logo">
				<%= render partial: 'image_guesses/image', locals: { holder: @organisation, guess: true } %>
			</div>
		  <ul class="list-group">
				<%= content_tag :li, class: 'list-group-item' do %>
					<%= content_tag :span, @organisation.industry.name, class: "label label-default" %>
					<% @organisation.tags.each do |tag| %>
						<span class="label label-info"><%= tag %></span>
					<% end %>					
				<% end if @organisation.industry %>
				<%= content_tag :li, class: 'list-group-item' do %>
					<%= @organisation.description %>
				<% end unless @organisation.description.blank? %>
			</ul>
		</div>
	</div>

</div>
<hr/>
	
<div class="row">

	<div class="col-lg-4">
		<div class="panel">
		  <div class="panel-heading">Notes</div>
			<%= render partial: 'opinio/comments/form', locals: { commentable: @organisation, comment: Comment.new } %>			
			<%= render partial: 'opinio/comments/comments', object: @organisation.all_comments %>
		</div>				
	</div>

	<div class="col-lg-4">
		<div class="panel">
		  <div class="panel-heading">History</div>
			<%= render partial: 'audits/audits', object: @organisation.audits %>
		</div>
	</div>

	<div class="col-lg-4">
		<%= render partial: 'opportunities' %>
	</div>

</div>