<div class="well lookup-item">
	<div class="row">
		<div class="col-lg-2">
			<%= image_tag contact.image.url(:thumb) %>
		</div>
		<div class="col-lg-9 col-lg-offset-1 info">
			<%= content_tag :h5, contact.organisation.name, class: (contact.ex_organisation ? "text-muted" : nil) if contact.organisation %>
			<%= content_tag :h4, contact.name %>
			<%= content_tag :p, contact.phone_work if contact.phone_work %>
			<%= content_tag :p, contact.phone_mobile if contact.phone_mobile %>
			<%= content_tag :mailto, contact.email if contact.email %>
		</div>
		
	</div>
</div>