<div class="well well-small lookup-item">
	<div class="row">
		<div class="col-lg-2">
			<%= image_tag organisation.image.url(:thumb) %>
		</div>
		<div class="col-lg-9 col-lg-offset-1">			
			<%= content_tag :h4, organisation.name %>
			<%= content_tag :p, organisation.phone if organisation.phone %>
			<%= content_tag :mailto, organisation.email if organisation.email %>
			<%= content_tag :p, link_to( organisation.website ) if organisation.website %>
		</div>
		
	</div>
</div>
