<% arr = [] %>
<% arr << address.address1 unless address.address1.blank? %>
<% arr << address.address2 unless address.address2.blank? %>
<% arr << content_tag( :strong, "#{address.zipcode} #{address.city}" ) %>
<% arr << ISO3166::Country[address.country].name if ISO3166::Country[address.country] %>

<address>
	<%= arr.compact.join('<br/>').html_safe %>
</address>
