<div class="page-header">
	<h1>
		OHIWA CRM
		<span class="text-muted">BETA</span>
	</h1>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="jumbotron">
		  <div class="container">
		    <h2>Welcome to CRM!</h2>
		    <p>
		    	<small>Organisations, Contacts, Opportunities</small>
		    </p>
		    <p><a class="btn btn-primary btn-lg" onclick="javascript:alert('Why don\'t you try the amazing search for organisations and contacts in the searchfield above?');">Learn more</a></p>
		  </div>
		</div>
	</div>
	
	<div class="col-lg-3">
		<div class="jumbotron">
		  <div class="container">
		    <h2>Upload VCF</h2>
		    <p>
		    	<small>Simply drag VCF File here</small>
		    </p>
		    <p><a class="btn btn-primary btn-lg" onclick="javascript:alert('Will be implemented next!');">Upload</a></p>
		  </div>
		</div>
	</div>
	
	<div class="col-lg-5">
		<div class="jumbotron">
		  <div class="container">
		    <h2>See opportunities!</h2>
		    <p>
					We have <%= nf Opportunity.open_sum %> € open opportunities.
				</p>
		    <p>
					<%= link_to "Explore", opportunities_path, class: "btn btn-primary btn-lg" %>
				</p>
		  </div>
		</div>
	</div>
	
</div>