<div id="<%= holder.css_id %>">
	<% if holder.image? %>

		<%= image_tag holder.image.url(:medium) %>

	<% elsif holder.image_guess and holder.image_guess.image? %>

		<%= image_tag holder.image_guess.image.url(:medium) %>

		<% if holder.image_guess.accepted.nil? or holder.image_guess.accepted == 0 %>
			<p class="text-muted">
				<small>
					This image is a guess. Is it 
				 	<%= link_to "correct", 
								image_guess_path( holder.image_guess, accepted: true ), 
								method: :patch,
								remote: true %> | 
					<%= link_to "not correct?", 
								image_guess_path( holder.image_guess, accepted: false ), 
								method: :patch,
								remote: true %> 
				</small>
			</p>
		<% end %>

	<% else %>

		<%= image_tag holder.image.url(:medium) %>
		
		<% if guess %>
			<script type="text/javascript" charset="utf-8">
				$.get("<%= new_image_guess_path( :parent_type => holder.class.to_s, :parent_id => holder.id.to_i ).html_safe %>");
			</script>
		<% end %>
	<% end %>
</div>