<%= semantic_form_for [@organisation, @contact], :html => { :multipart => true } do |f| %>

	<div class="row">
		<div class="col-lg-12">
			<%= f.actions class: 'pull-right' do %>
				<%= f.action :submit %>
				<%= f.action :cancel, url: polymorphic_path( f.object ), label: "Cancel" %>
			<% end %>
		</div>	
	</div>
	
	<div class="row">

		<div class="col-lg-6">
			<%= f.inputs do %>	
				<li class="string input optional stringish" id="organisation_active_input">
					<label class=" label" for="organisation_active">Active</label>
					<%= f.check_box :active %>
				</li>
				<%= f.input :salutation %>
				<%= f.input :title %>
				<%= f.input :firstname %>
				<%= f.input :lastname %>
				<%= f.input :birthdate, as: :string, input_html: { class: 'date-mask', value: lna(@contact.birthdate) } %>
				<%= f.input :language, as: :select, collection: languages.invert  %>
	      <%= f.input :email %>
	      <%= f.input :phone_work %>
	      <%= f.input :phone_mobile %>
	      <%= f.input :phone_private %>
	      <%= f.input :phone_other %>
	      <%= f.input :fax %>
	      <%= f.input :skype %>				
						
			<% end %>
			
			<hr/>
						
			<%= f.inputs do %>	
				<%= f.input :description, input_html: { rows: 5 } %>
				<%= f.input :tag_list, input_html: {class: 'tags'} %>				
			<% end %>
		</div>

		<div class="col-lg-6" style="padding-top:40px;">
			
			<%= f.inputs do %>	
				<%= f.input :organisation, collection: Organisation.order(:name) %>
				<%= f.input :ex_organisation, hint: "Former member of this organisation?" %>
				<%= f.input :department %>
				<%= f.input :position %>				
			<% end %>
				
			<hr/>
			
			<%= f.inputs do %>

				<%= f.input :address1 %>
				<%= f.input :address2 %>
				<%= f.input :zipcode %>
				<%= f.input :city %>
				<%= f.input :country, as: :select, collection: country_select_options %>
			<% end %>
			
			<hr/>
						
			<%= f.inputs do %>
				<li class="input optional">
					<label class="label">Delete Image</label>
					<%= f.check_box(:delete_image) %>
				</li>
			
				<div style="text-align: center;">
					<%= image_tag @contact.image.url(:thumb) %>		
				</div>
				
				<%= f.input :image %>				
								
			<% end %>
			
		</div>

	</div>
		
<% end %>
