<div class="panel">
	<div class="panel-heading">
		Reminder
	</div>
	<ul class="list-group">
		<% @contact.reminders.each do |reminder| %>
			<%= content_tag :li, class: 'list-group-item' do %>
				<%= lna reminder.date %> 
				<span class="label label-info"><%= reminder.typ %></span>
				<%= reminder.note %>
			<% end %>
		<% end %>
		<li class="list-group-item text-right">
			<%= link_to "New reminder", polymorphic_path([@contact, Reminder.new], action: :new ), onclick: "alert('Not implemented'); return false;" %>
		</li>
	</ul>
</div>		
