<div class="content-actions">
	<%= link_to "New", new_contact_path, class: "btn btn-small btn-lg" %>
</div>

<div class="page-header">	
	<%= content_tag :h3, link_to( @organisation.name, @organisation ) if @organisation %>
	<h1>Contacts</h1>
</div>

<%= form_tag contacts_path, class: 'search-form', method: 'get' do %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="80">ID</th>
				<th>Salutation</th>
				<th>Given</th>
				<th>Lastname</th>
				<th>Organisation</th>
				<th>Department / Position</th>
				<th>City</th>
				<th></th>
			</tr>
			<tr>
				<th><%= text_field_tag :id, params[:id], class: "form-control" %></th>
				<th></th>
				<th><%= text_field_tag :firstname, params[:firstname], class: "form-control" %></th>
				<th><%= text_field_tag :lastname, params[:lastname], class: "form-control" %></th>
				<th><%= text_field_tag :organisation, params[:organisation], class: "form-control" %></th>
				<th><%= text_field_tag :dep_pos, params[:dep_pos], class: "form-control" %></th>
				<th><%= text_field_tag :city, params[:city], class: "form-control" %></th>
				<th><%= submit_tag "Filter", class: "form-control pull-right", style: "width:80px;" %></th>				
			</tr>
		</thead>
		<tbody>
			<% @contacts.each do |contact| %>
			<tr>
				<td>
					<%= link_to contact.id, contact %>
				</td>
				<td>
					<%= contact.salutation.try :name %>
				</td>
				<td>
					<%= link_to contact.firstname, contact %>
				</td>
				<td>
					<%= link_to contact.lastname, contact %>
				</td>
				<td>
					<%= link_to contact.organisation.name, contact.organisation if contact.organisation %>
				</td>
				<td>
					<%= contact.department_position.join(' | ' ) %>
				</td>
				<td colspan="2">
					<%= contact.city || (contact.organisation ? contact.organisation.city : '' ) %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= paginate @contacts %>	

<% end %>	
	