<div class="content-actions">
	<%= link_to "Edit", edit_contact_path(@contact), class: "btn btn-small btn-lg" %>
</div>

<%= content_tag :h3, @contact.organisation.name, class: "text-muted" if @contact.organisation %>
<h1><%= @contact.name %></h1>
<hr/>

<div class="row">
	
	<div class="col-lg-4">
		<div class="panel">
			<div class="panel-heading">
				<strong><%= @contact.name %></strong>
			</div>
			<p>
				<%= render partial: 'shared/address', object: @contact %>
			</p>
		  <ul class="list-group">
				<%= list_group_item @contact.department, "Department:" %>

				<%= list_group_item @contact.position, "Position:" %>				
				
				<%= list_group_item @contact.phone_work, "Phone:" %>

				<%= content_tag :li, class: "list-group-item" do %>					
					<label>Mobile:</label>
					<%= @contact.phone_mobile %>
				<% end unless @contact.phone_mobile.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Phone Other:</label>
					<%= @contact.phone_other %>
				<% end unless @contact.phone_other.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Fax:</label>
					<%= @contact.fax %>
				<% end unless @contact.fax.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Email:</label>
					<%= mail_to @contact.email %>
				<% end unless @contact.email.blank? %>

				<%= content_tag :li, class: "list-group-item" do %>
					<label>Skype:</label>
					<%= @contact.skype %>
				<% end unless @contact.skype.blank? %>

				<%= list_group_item lna( @contact.birthdate ), 'Birthdate:' %>

				<%= content_tag :li, class: "list-group-item align-right" do %>
					<%= link_to "Download Vcard", vcard_contact_path( @contact, format: 'vcf') %>					
				<% end %>

		  </ul>
		</div>				
	</div>
	
	<div class="col-lg-3">
		<%= link_to @contact.organisation do %>
			<%= render partial: 'organisations/organisation', object: @contact.organisation, locals: { shade: @contact.ex_organisation } %>
		<% end if @contact.organisation %>
	</div>
	
	<div class="col-lg-2">
		<div class="panel">
			<div class="contact-image">
				<%= render partial: 'image_guesses/image', locals: { holder: @contact, guess: true } %>
			</div>
		  <ul class="list-group">
				<%= content_tag :li, class: 'list-group-item' do %>
					<%= content_tag :span, language( @contact.language ), class: "label label-warning" unless @contact.language.blank? %>
					<% @contact.tags.each do |tag| %>						
						<span class="label label-info"><%= tag %></span>
					<% end %>
				<% end if @contact.language or not @contact.tags.empty? %>
				<%= list_group_item @contact.description %>
			</ul>			
		</div>
	</div>
	
	<div class="col-lg-3">
		<%= render partial: 'reminder' %>
	</div>
	
</div><!-- row -->

<hr/>
	
<div class="row">

	<div class="col-lg-4">
		<div class="panel">
		  <div class="panel-heading">Notes</div>
			<%= render partial: 'opinio/comments/form', locals: { commentable: @contact, comment: Comment.new } %>			
			<%= render partial: 'opinio/comments/comments', object: @contact.all_comments %>
		</div>				
	</div>

	<div class="col-lg-4">
		<div class="panel">
		  <div class="panel-heading">History</div>
			<%= render partial: 'audits/audits', object: @contact.audits %>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="panel">
		  <div class="panel-heading">Opportunities</div>
		</div>
	</div>

</div>