<ul id="audits" class="list-group">
	<% unless audits.empty? %>
		<%= render :partial => 'audits/audit', :collection => audits.order( created_at: :desc ).limit(10) %>
	<% end %>		
	<% if audits.count > 10 %>
		<li class="list-group-item">
			<%= content_tag :span, class: "align-right", style: "float:right;" do %>
				<%= link_to 'View all audits', polymorphic_path( [resource, :audits] ) %>
			<% end %>
			<div style="clear:both;"></div>
		</li>
	<% end %>	
</ul>			

