<li class="list-group-item">  
	<% if audit.action == 'update' %>
		<% if audit.audited_changes.any?{|key, value| key == 'image_file_name'} %>
			<%= content_tag :p, "Edited Image" %>			
		<% else %>
			<% audit.audited_changes.each do |key, value| %>
				<%= content_tag :p, "Edited Taglist" if key == 'tag_list' %>
				<% next if value.first.blank? and value.last.blank? %>
				<p>
					<%= key.humanize %>:
					<%= content_tag :span, value.first, class: "text-muted line-through" %>
					<%= " | " unless value.first.blank? or value.last.blank? %> 
					<%= content_tag :span, value.last, class: "text-muted" %> 
				</p>
			<% end %>
		<% end %>
	<% else %>
		<p><%= audit.action %></p>
	<% end %>
	<div class="text-muted"><small>
		<%= lna audit.created_at %> -
		<%= audit.user.is_a?( User ) ? audit.user.name : audit.user %>
	</small></div>
</li>
