<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="prev">
	<% url = nil if current_page.first? %>
  <%= link_to raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote %>
</li>
