<li id="comment_<%= comment.id %>" class="list-group-item show-on-hover" data-show-on-hover="#comment_<%=comment.id%> .delete-link" >
  <p><%= comment.body %></p>
	<%= content_tag :span, comment.commentable.name, class: "label label-info" if comment.commentable.respond_to? :name %>
	<span class="text-muted pull-right"><small>
		<%= comment.owner ? comment.owner.name : "n/a" %> | 
		<%= lna comment.created_at %>		
	</small></span>
	<%= content_tag :span, class: "align-right hide delete-link", style: "float:right;" do %>
		<%= link_to 'Delete', comment_path(comment), :method => :delete, :remote => true, confirm: "Are you sure?" %>
	<% end if can_destroy_opinio? comment %>
</li>
