<ul id="comments" class="list-group">
	<% unless comments.empty? %>
		<%= render :partial => 'opinio/comments/comment', :collection => comments.order( created_at: :desc ).limit(10) %>
	<% end %>		
	<% if comments.count > 10 %>
		<li class="list-group-item">
			<%= content_tag :span, class: "align-right", style: "float:right;" do %>
				<%= link_to 'View all comments', polymorphic_path( [resource, Comment] ) %>
			<% end %>
			<div style="clear:both;"></div>
		</li>
	<% end %>	
</ul>			

