<div id="new_comment">
  <% if current_user %>
    <%= form_for comment, :remote => true do |f| %>
      <p>        
        <%= f.text_area :body, style: "width:100%" %>
      </p>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      <%= f.submit "OK", style: "float:right;" %>
			<div style="clear:both;"></div>
    <% end %>
  <% end %>
</div>
