<div class="content-actions">
	<%= link_to "Back", resource %>
</div>

<h2><%= resource.name %></h2>
<h3>Comments</h3>

<hr/>

<%= paginate @comments %>

<%= render :partial => "opinio/comments/comments", :locals => { :comments => @comments } %>

<%= paginate @comments %>
