<% percent = expected / Opportunity.max_open * 100.0 %>
<div class="progress">
	<%= content_tag :div, class: "progress-bar", style: "width:#{percent}%" do %>
			<span class="pull-left" style="margin-left:10px;"><%= percent >= 25 ? nf(expected) : space %></span>
	<% end %>
	<% if percent < 25 %>
		<span style="margin-left:10px;"><%= nf expected %> €</span>
	<% end %>
</div>
