<% @opportunity.user ||= current_user %>

<%= semantic_form_for [@organisation, @opportunity], :html => { :multipart => true } do |f| %>

	<div class="row">
		<div class="col-lg-12">
			<%= f.actions class: 'pull-right' do %>
				<%= f.action :submit %>
				<%= f.action :cancel, url: polymorphic_path( f.object ), label: "Cancel" %>
			<% end %>
		</div>	
	</div>

	<div class="row">

		<div class="col-lg-6">
			<%= f.inputs do %>	
				<%= f.input :opportunity_status %>
				<%= f.input :opportunity_typ %>
	      <%= f.input :name %>
				<%= f.input :amount, as: :string, input_html: { maxlength: 9 } %>
				<%= f.input :probability, as: :select, collection: (5..95).step(5).map{|i| ["#{i}%", i]} %>
			<% end %>
			
			<hr/>
						
			<%= f.inputs do %>	
				<%= f.input :description, input_html: { rows: 5 } %>
				<%= f.input :tag_list, input_html: {class: 'tags'} %>				
			<% end %>
		</div>

		<div class="col-lg-6" style="padding-top:40px;">
			
			<%= f.inputs do %>
				<%= f.input :lead_source %>
				<%= f.input :organisation, collection: Organisation.order(:name), 
										input_html: { :onchange => "$.get('/organisations/' + $(this).val() + '/contacts.js' )" } %>
				<%= f.input :contact, collection:( @opportunity.organisation ? @opportunity.organisation.contacts.order(:firstname ) : [] ),
					 					input_html: { id: 'contacts' } %>
			<% end %>
			
			<hr/>

			<%= f.inputs do %>	
				<%= f.input :user, collection: User.assignable.order(:firstname) %>
				<%= f.input :next_date, as: :string, input_html: { class: 'date-picker' } %>
				<%= f.input :next_steps, input_html: { rows: 3 } %>
			<% end %>
		</div>

	</div>
		
<% end %>
