<div class="well">

	<h4 class="text-right">Open: <%= nf @info[:open] %> €</h4>

	<h5 class="text-muted">Per sales stage</h5>
	<div class="progress">
		<% @info[:status].each do |status, value| %>
			<% next if value[1] < 0.1 %>
			<%= content_tag :div, class: "progress-bar", style: "width: #{value[1]*100}%;background-color: ##{status.color}!important;" do %>
				<span class="sr-only"><%= status.name %> (€ <%= nf value[0]%>)</span>
			<% end %>
		<% end %>
	</div>

	<h5 class="text-muted">Per business type</h5>
	<div class="progress">
		<% @info[:opportunity_typ].each do |status, value| %>
			<% next if value[1] < 0.1 %>
			<%= content_tag :div, class: "progress-bar", style: "width: #{value[1]*100}%;background-color: ##{status.color}!important;" do %>
				<span class="sr-only"><%= status.name %> (€ <%= nf value[0]%>)</span>
			<% end %>
		<% end %>
	</div>

	<h5 class="text-muted">Per lead source</h5>
	<div class="progress">

		<% @info[:lead_source].each do |status, value| %>
			<% next if value[1] < 0.1 %>			
			<%= content_tag :div, class: "progress-bar", style: "width: #{value[1]*100}%;background-color: ##{status.color}!important;" do %>
				<span class="sr-only"><%= status.name %> (€ <%= nf value[0]%>)</span>
			<% end %>
		<% end %>
	</div>
	
	<div class="text-right"><small class="text-muted">Rest to 100%: other &lt; 10%</small></div>
	
</div>

<hr/>