<%= form_tag opportunities_path, class: 'search-form', method: 'get' do %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="80">ID</th>
				<th>Name</th>
				<% unless @organisation %><th>Organisation</th><% end %>
				<th>Status</th>
				<th>Assigned</th>
				<th>Type</th>
				<th>Amount</th>
				<th>Probality</th>
				<th width="20%">Expected</th>
			</tr>
			<tr>
				<th><%= text_field_tag :id, params[:id], class: "form-control" %></th>
				<th><%= text_field_tag :name, params[:name], class: "form-control" %></th>
				<% unless @organisation %><th><%= text_field_tag :organisation, params[:organisation], class: "form-control" %></th><% end %>
				<th>
					<%= select_tag :status, options_for_select( opportunity_status_options, params[:status] ), class: "form-control auto-submit" %>
				</th>
				<th>
					<%= select_tag :assigned, 
								options_for_select( [nil] + User.assignable.map{|u| [u.name, u.id]}, params[:assigned] ), 
								class: "form-control auto-submit" %>
				</th>
				<th></th>
				<th></th>
				<th></th>
				<th class="text-right"><%= submit_tag "Filter", class: "form-control pull-right", style: "width: 80px;" %></th>
			</tr>
		</thead>
		<tbody>
			<% @opportunities.each do |opportunity| %>
			<tr>
				<td>
					<%= link_to opportunity.id, [opportunity.organisation, opportunity] %>
				</td>
				<td>
					<%= link_to opportunity.name, [opportunity.organisation, opportunity] %>
				</td>
				<% unless @organisation %>
					<td>
						<%= link_to opportunity.organisation.name, opportunity.organisation %>
					</td>
				<% end %>
				<td>
					<%= opportunity.opportunity_status.name %>
				</td>
				<td>
					<%= opportunity.user.name if opportunity.user %>
				</td>
				<td>
					<%= opportunity.opportunity_typ.name %>
				</td>
				<td>
					<%= nf opportunity.amount %>
				</td>
				<td>
					<%= nf opportunity.probability %>%
				</td>
				<td>
					<% expected = nf( opportunity.expected, 0 ) %>
					<% percent = opportunity.expected/@info[:max] * 100.0 %>					
					<%= content_tag :div, class: "progress-bar", style: "width:#{percent}%" do %>
							<span class="pull-left" style="margin-left:10px;"><%= percent >= 25 ? nf(opportunity.expected) : "&nbsp;".html_safe %></span>
					<% end %>
					<% if percent < 25 %>
						<span style="margin-left:10px;"><%= nf opportunity.expected %></span>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6">
					<%= paginate @opportunities %>
				</td>
			</tr>
		</tfoot>
	</table>
	
<% end %>	
