<div class="content-actions">
	<%= link_to "New", new_opportunity_path, class: "btn btn-small btn-lg" %>
</div>

<div class="page-header">	
	<%= content_tag :h3, link_to( @organisation.name, @organisation ) if @organisation %>
	<h1>Opportunities</h1>
</div>

<%= render partial: 'summary' if @info[:count] %>

<%= render partial: 'table' %>

	