<div class="content-actions">
	<%= link_to "Edit", edit_organisation_opportunity_path(@organisation, @opportunity), class: "btn btn-small btn-lg" %>
</div>

<div class="page-header">
	<%= content_tag :h3, link_to( @organisation.name, @organisation ) %>
	<%= content_tag :h1, "Opportunity: #{@opportunity.name}"%>
	<%= content_tag :div do %>
		<% @opportunity.tags.each do |tag| %>
				<div class="tag">
					<%= content_tag :span, tag, class: 'badge' %>
				</div>
		<% end %>		
		<div style="clear:both;"></div>
	<% end %>
</div>

<div class="row">
	
	<div class="col-lg-3">
		<ul class="list-group">
			<%= content_tag :li, class: "list-group-item" do %>
				<%= content_tag :span, "#{nf(@opportunity.amount)} €", class: 'badge'%>
				<label>Amount:</label>
			<% end %>
			<%= content_tag :li, class: "list-group-item" do %>
				<%= content_tag :span, "#{nf(@opportunity.probability)} %", class: 'badge'%>
				<label>Probability:</label>
			<% end %>
			<%= content_tag :li, class: "list-group-item" do %>
				<label>Expected:</label>
				<div style="margin-right:-15px;">
					<%= render partial: 'opportunities/expected', object: @opportunity.expected %>				
				</div>
			<% end %>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<ul class="list-group">
			<%= content_tag :li, class: "list-group-item" do %>
				<%= content_tag :span, space(5), class: 'badge', style: "background-color: ##{@opportunity.opportunity_status.color}" %>
				<label>Status:</label>
				<%= @opportunity.opportunity_status.name %>
			<% end %>
			<%= content_tag :li, class: "list-group-item" do %>
				<%= content_tag :span, space(5), class: 'badge', style: "background-color: ##{@opportunity.opportunity_typ.color}" %>
				<label>Type:</label>
				<%= @opportunity.opportunity_typ.name %>
			<% end %>
			<%= content_tag :li, class: "list-group-item" do %>
				<%= content_tag :span, space(5), class: 'badge', style: "background-color: ##{@opportunity.lead_source.color}" %>
				<label>Lead Source:</label>
				<%= @opportunity.lead_source.name %>
			<% end %>
			<%= content_tag :li, class: "list-group-item" do %>
				<label>Assigned:</label>
				<%= @opportunity.user.name %>
			<% end if @opportunity.user %>
			<%= content_tag :li, @opportunity.description, class: "list-group-item" if @opportunity.description %>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<%= link_to @organisation do %>
			<%= render partial: 'organisations/organisation', object: @organisation, locals: { shade: false } %>
			<%= content_tag :div, class: 'panel' do %>
				<div class="panel-heading">		
					<strong><%= link_to @opportunity.contact.name, @opportunity.contact %></strong>					
				</div>			
				<ul class="list-group">
					<%= list_group_item( @opportunity.contact.department , "Department:" ) unless @opportunity.contact.department.blank? %>
					<%= list_group_item( @opportunity.contact.position , "Position:" ) unless @opportunity.contact.position.blank? %>
					<%= list_group_item @opportunity.contact.phone_work, "Phone:" %>
					<%= list_group_item @opportunity.contact.phone_mobile, "Mobile:" %>
				</ul>
			<% end if @opportunity.contact %>
		<% end %>
	</div>
	
	<div class="col-lg-3">
		<%= render partial: 'reminder' %>
	</div>
	
</div><!-- row -->

