/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require formtastic-bootstrap
 *= require_directory .
 *= require_self
 */

body { padding: 90px 20px 0 20px; }

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
	.navbar-fixed-top {
		position: relative;
	}
	
	#lookup {
		display: none;
	}
}

.page-header {
	margin-top: 0px;
}

.page-header .tag {
  float: left;
  margin-right: 5px;
}

.content-actions {
	float: right;
	text-align: right;
	margin-bottom: 20px;
}

.align-right {
	text-align: right;
}

.line-through {
	text-decoration: line-through;
}

.organisation-logo, 
.contact-image {
	text-align: center;
}

.ex-organisation {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.25;
}

.ui-autocomplete-loading {
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

#lookup {
	min-width:300px;
}

.lookup-item {
	width: 600px;
	font-size: small;
}

.lookup-item.well {
	margin-bottom: 5px !important;
}

.panel img {
	max-width:100%;
}

.panel label {
	margin-right: 5px;
}

.comment-body {
	white-space: pre;	
}

address {
	margin-bottom: 0px !important;
}

li.formtastic-info {
	margin-left: 220px;
}

.search-form input {
	width: 100%;
}

.ui-menu-item {
	line-height: 0 !important;
}

.lookup-item .info {
	line-height: 12px;
}

.lookup-item img {
	padding-top: 12px;
}

.lookup-item.well {
	padding-top: 5px;
	padding-bottom: 15px;
}

#footer {
  margin-top: 20px;
  margin-bottom: 50px;
}