.formtastic fieldset.actions {
  padding: 19px 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white !important;
  border-top: 1px solid #ddd;
  *zoom: 1; 
}

.formtastic input[type=file] {
	margin-left:200px;
	height:50px;
	width:300px	
}

.formtastic .label {
  color: darkgray;
}

.formtastic li {
  list-style: none;
  text-align: right;
}

.panel .list-group .list-group-item:first-child {
	border-top: 0px;
}

