<div class="navbar navbar-fixed-top">
	<img style="margin:0;padding:0;height:50px;margin-right:10px;" class="navbar-brand" src="/assets/impeo.png" />
  <!-- a class="navbar-brand" href="#">KMF CRM</a -->
  <ul class="nav navbar-nav">
    <%= navigation_item 'Home', '/', (controller_name == 'home') %>
		<%= navigation_item 'Organisations', Organisation, (controller_name == 'organisations') %>
		<%= navigation_item 'Contacts', Contact, (controller_name == 'contacts') %>
		<%= navigation_item 'Opportunities', Opportunity, (controller_name == 'opportunities') %>
    <li><a href="#"></a></li>
	</li>
  </ul>
	<div class="navbar-form pull-left">
	  <input id="lookup" type="search" class="form-control search-input ui-autocomplete-input" autocomplete="off" placeholder="Search..."/>
	</div>
	<p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link"><%= current_user.name %></a></p>
	<%= content_tag :p, link_to("Admin", '/admin'), class: "navbar-text pull-right" if current_user.admin? %>
</div>
