<!DOCTYPE html>
<html>
<head>
  <title>
		OHIWA CRM
		<%= "[#{Rails.env}]" unless Rails.env == 'production' %> | 
		
		<% if controller.action_name == 'index' %>		
			<%= controller.controller_name.humanize %>
		<% else %>
			<%= controller.controller_name.humanize.singularize %>
			<% if resource %>
				| <%= (resource.respond_to?( :name ) ? resource.name : resource.id ) %>
			<% end %>
		<% end %>				
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="top-navigation">
		<%= render partial: 'navigation/top'%>
	</div>
	
	<div id="flashes">
		<%= content_tag :div, class: 'alert alert-success', "data-dismiss" => "alert" do %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= notice %>
		<% end if notice %>
		<%= content_tag :div, alert, class: 'alert alert-error', "data-dismiss" => "alert" if alert %>
	</div>
	
	<div id="content">
			<%= yield %>
		</div>		
	</div>

	<div id="footer">
		<%= render partial: 'navigation/footer'%>
	</div>
</body>
</html>
