<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="flashes">
		<%= content_tag :div, notice, class: 'alert alert-success', "data-dismiss" => "alert" if notice %>
		<%= content_tag :div, alert, class: 'alert alert-error', "data-dismiss" => "alert" if alert %>
	</div>
	
	<div id="content">
			<%= yield %>
		</div>		
	</div>

	<div id="footer">
		<%= render partial: 'navigation/footer'%>
	</div>
</body>
</html>
